@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Schoolbell';
  src: url('/fonts/Schoolbell-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-photoText: 'Schoolbell';
  --color-primary: oklch(44.6% 0.03 256.802);
  --color-primary-strong: oklch(37.3% 0.034 259.733);
  --color-primary-lite: oklch(55.1% 0.027 264.364);
  --color-primary-foreground: oklch(98.5% 0.002 247.839);
  --color-primary-dark: oklch(92.8% 0.006 264.531);
  --color-primary-dark-strong: oklch(70.7% 0.022 261.325);
  --color-primary-dark-lite: oklch(96.7% 0.003 264.542);
  --color-primary-dark-foreground: oklch(13% 0.028 261.692);
  --color-secondary: oklch(68.1% 0.162 75.834);
  --color-secondary-strong: oklch(55.4% 0.135 66.442);
  --color-secondary-lite: oklch(79.5% 0.184 86.047);
  --color-secondary-foreground: oklch(20.3% 0.12 261.629);
  --color-secondary-dark: oklch(89.9% 0.061 343.231);
  --color-secondary-dark-strong: oklch(82.3% 0.12 346.018);
  --color-secondary-dark-lite: oklch(94.8% 0.028 342.258);
  --color-secondary-dark-foreground: oklch(20.3% 0.12 261.629);
  --color-accent: oklch(58.6% 0.253 17.585);
  --color-accent-strong: oklch(51.4% 0.222 16.935);
  --color-accent-lite: oklch(64.5% 0.246 16.439);
  --color-accent-foreground: oklch(98.5% 0.002 247.839);
  --color-alert: oklch(57.7% 0.245 27.325);
  --color-alert-strong: oklch(50.7% 0.213 26.48);
  --color-alert-lite: oklch(63.5% 0.24 25.991);
  --color-alert-foreground: oklch(98.5% 0.002 247.839);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-primary-foreground);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-secondary-foreground);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-accent-foreground);
  --destructive: var(--color-alert);
  --ring: var(--color-primary-dark-strong);
  --border: var(--color-primary-dark);
  --input: var(--color-primary-dark);
  --chart-1: var(--color-accent);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-primary-lite);
  --chart-4: var(--color-secondary-lite);
  --chart-5: var(--color-accent-lite);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: var(--color-primary-dark-foreground);
  --foreground: var(--color-primary-foreground);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: var(--color-primary-dark);
  --primary-foreground: var(--color-primary-dark-foreground);
  --secondary: var(--color-secondary-dark-strong);
  --secondary-foreground: var(--color-primary-foreground);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: var(--accent);
  --accent-foreground: var(--accent-foreground);
  --destructive: var(--color-alert-strong);
  --border: var(--color-primary-dark);
  --input: var(--color-primary-dark);
  --ring: var(--color-primary-dark-strong);
  --chart-1: var(--color-accent);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-primary-lite);
  --chart-4: var(--color-secondary-lite);
  --chart-5: var(--color-accent-lite);
  --sidebar: var(--color-primary-dark);
  --sidebar-foreground: var(--color-primary-dark-foreground);
  --sidebar-primary: var(--color-primary-dark);
  --sidebar-primary-foreground: var(--color-primary-dark-foreground);
  --sidebar-accent: var(--color-secondary-dark-strong);
  --sidebar-accent-foreground: var(--color-primary-dark-foreground);
  --sidebar-border: var(--color-primary-dark);
  --sidebar-ring: var(--color-primary-dark-strong);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}